:root.theme-light {
  --page-background-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --card-text-color: #353430;
  --theme-button: #353430;
  --corner-color: #353430;
  --button-hover-color: #32312d66;
}

:root.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --page-background-image: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --card-text-color: #353430;
    --theme-button: #353430;
    --corner-color: #353430;
    --button-hover-color: #32312d66;
  }

  .header__rec {
    display: none;
  }
}
